Name;Class;Stars
Moonlight Dreamblade;thief;5
Alexa's Basket;thief;5
Rhianna & Luciella;thief;5
Portrait of the Saviors;thief;4
Proof of Valor;universal;5
Symbol of Unity;universal;5
Draco Plate;warrior;5
Sigurd Scythe;warrior;5
Uberius's Tooth;warrior;5
Elbris Ritual Sword;knight;5
Aurius;knight;5
Adamant Shield;knight;5
Rod of Amaryllis;soulweaver;5
Idol's Cheer;soulweaver;5
Magaraha's Tome;soulweaver;4
Guiding Light;ranger;5
Song of Stars;ranger;5
Rosa Hargana;ranger;5
Tagahel's Ancient Book;mage;5
Time Matter;mage;5
Necro & Undine;mage;5
