Name;Class;Element;Stars
Arbiter Vildred;thief;dark;5
Specter Tenebria;mage;dark;5
Fallen Cecilia;knight;dark;5
Apocalypse Ravi;warrior;dark;5
Ruele of Light;soulweaver;light;5
Judge Kise;warrior;light;5
Luna;warrior;ice;5
Sigret;warrior;ice;5
Tamarinne;soulweaver;fire;5
Bellona;ranger;earth;5
Charles;knight;earth;5
Violet;thief;earth;5
Kayron;thief;fire;5
Cermia;warrior;fire;5
Iseria;ranger;earth;5
Dizzy;mage;ice;5
Seaside Bellona;ranger;ice;5
Landy;ranger;earth;5
